body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
    background-image: url('plansza.png');
    background-size: fill;
    transition: background-image 1s ease;
    padding:0%;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(65, 65, 65, 0.5);
    transition: background-color 1s ease; 
    position: fixed;
    z-index: 0;
    margin: 0;
    padding: 0;
}
.container.transparent{
    background-color: transparent;
}
.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
  }
.start-pane{
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    /*background-color:burlywood;*/
}
.start_pane_img{
    width: 100%;
    height: 100%;
}
.buttons{
    background-color: #482b0a;
    color: #f5c159;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    border:#482b0a 4px solid;
    transition: background-color 0.2s ease-in, color 0.2s ease-in, border 0.2s ease-in;
    font-family: "Luckiest Guy", cursive;
}
.buttons:hover{
    background-color: #f5c159;
    color: #482b0a;
    border:#f5c159 4px solid;

}

.sterring_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    gap: 10px;
    margin-top: 30px;
}
.scoreboard{
    position: absolute;
    top: 5%;
    left: 3%;
    width: auto;
    height: auto;
    font-family: "Luckiest Guy", cursive;
    color: #f5c159;
    z-index: 0;
    padding: 0;
}
.scoreboard_img{
    position: absolute;
    top: 5%;
    left: 3%;
    font-family: "Luckiest Guy", cursive;
    color: #f5c159;
    background-image: url('scoreboard.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 35vh;
    height: 39vh;
    font-size: 1em;
    z-index: -1;
}
.score, .life_points_h1 {
    font-family: "Luckiest Guy", cursive;
    color: #e5bd68;
    -webkit-text-stroke: #51381b 2px;
    font-size: 2em;
    margin: 0;
    position: relative;
    left: 15%;
    top: 38%;
}
.life_points{
    display: flex;
    direction: row;
    gap: 15px;

}

.life_points_img{
    width: 10%;
    height: auto;
}
img{
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
h1{
    font-family: "Luckiest Guy", cursive;
    color: #e5bd68;
    -webkit-text-stroke: #51381b 2px;
    font-size: 10em;
}
@media (max-width: 600px) {
    .start-pane{
        width: 80%;
        height: auto;
        display: flex;
        justify-self: center;
    }
    .buttons{
        width: 80px;
        height: 30px;
        font-size: 15px;
    }
    .scoreboard_img{
        width: 30vh;
        height: 30vh;
        left: 17%;
        top:-2%;
    }
    .score, .life_points_h1 {
        font-size: 1.5em;
        left: 10%;
        top: 38%;
    }
    body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
    background-image: url('plansza_startowa_smartphone.png');
    background-size:cover;
    transition: background-image 1s ease;
    }
    h1{
        font-size: 8rem;
    }

}
 @media (max-width: 1100px) {
    .start-pane{
        width: 50%;
        height: auto;
    }
    .buttons{
        width: 80px;
        height: 30px;
        font-size: 15px;
    }
    .scoreboard_img{
        
        left: 5%;
    }
    .score, .life_points_h1 {
        font-size: 2em;
        left: 10%;
        top: 38%;
    }
    body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
    background-image: url('plansza.png');
    background-size:cover;
    transition: background-image 1s ease;
    }
    h1{
        font-size: 6rem;
    }
}
 
